/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.logo {
  width: 90px;
  line-height: 80px;
}

.brand-logo {
  line-height: 80px;
}

/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/* End Sticky footer */

.width_243 {
  width: 243px !important;
}

.loading {
  min-height: 300px;
}

h2 {
  width: 60%;
}

/*Pagination*/
.paginate-pagination {
  background-color: white;
}

.paginate-pagination ul > li > a {
  color: black;
  padding: 0 !important;
}
.paginate-pagination ul > li > a.page.active {
  background-color: #f44336;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

.brand-logo {
  margin-left: 10px;
}
